
<!-- ----------------------------- HEADER ROW ------------------------------ -->
<tr class="table-row header">
  <th>Symbol</th>
  <th>Ask Price</th>
  <th>Count</th>
  <th>Bid Price</th>
  <th>Low Price</th>
  <th>High Price</th>
</tr>

<!-- ------------------------------ DATA ROWS ------------------------------ -->
<table>
  <cdk-virtual-scroll-viewport [itemSize]="itemSize" [style.height]="viewportHeightPx + 'px' ">
    <tr
      *ngFor="let crypto of cryptocurrencies"
      class="table-row data">
      <td>
        {{ crypto.symbol | uppercase }}
      </td>
      <td>
        {{ crypto.askPrice }}
      </td>
      <td>
        {{ crypto.count }}
      </td>
      <td>
        {{ crypto.bidPrice }}
      </td>
      <td>
        {{ crypto.lowPrice}}
      </td>
      <td>
        {{ crypto.highPrice}}
      </td>
    </tr>
  </cdk-virtual-scroll-viewport>
</table>
