
@import '~@riapacheco/yutes/main.scss'; // Strips webkit / default browser styles
@import '~@riapacheco/yutes/season/two.scss'; // Access colors

html, body {
  background-color: $midnight-dark;
  background-image: linear-gradient(to bottom right, $gunmetal-dark, $midnight-dark);
  background-attachment: fixed; // fixes gradient to viewport
  color: $steel-regular; // font colors
}
